//FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Nunito:300,400,700|Quicksand:300,400,500,700|');

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//VARIABLES
$orange: #E15C36;
$blue: #424B6D;
$light: #FFFFFF;
$dark: #202020;
$success : #28A745;
$info: #17a2b8;
$danger: #dc3545;
