@import './_variables.scss';
/* 
* ────────────────────────────────────────────────────────────────────────────
*   :::::: G L O B A L   S T Y L E S : :  :   :    :     :        :          :
* ────────────────────────────────────────────────────────────────────────────
*/



.home-wrap * {
    box-sizing: border-box;
}



/*
 * ──────────────────────────────────────────────────────────────
 *   :::::: H E A D E R : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────
 */

.home-wrap {

    .header a {
        color: $light;
        text-decoration: none;
    }
    .header {
        height: 100vh;
        position: relative;
        margin-top: -70px;
        padding-top: 120px;
        text-align: center;
        color: $light;
        background-image: url('../images/template/home-background.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    .home-keywords {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        label {
            text-align: center;
        }

        div {
            text-align:center;
        }

        .keyword-button {
            font-size: 3.5rem;
            margin: 10px 30px;
            color: $light;
            cursor: pointer;
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
            opacity: 0.8;

            &:hover {
                color: $orange;
            }
        }
        
        .keyword-label {
            font-size: 1rem;
            font-weight: normal;
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
        }
    }

    @media all and (max-width: 1100px) {
        .header {
            height: 600px;
            margin-bottom: -60px;
            padding-top: 80px;
        }
        .home-keywords {
            flex-wrap: wrap;
            margin-top: 70px;
    
            .keyword-button {
                font-size: 3rem;
                margin: 8px 15px;
            }
            
            .keyword-label {
                font-size: 0.7rem;
            }
        }
    }

    @media all and (max-width: 600px) {
        .home-keywords {
            margin-top: 50px;

            .keyword-button {
                font-size: 2rem;
            }
        }
    }

    @media all and (max-width: 420px) {
        .header {
            height: 500px ;
        }
        .home-keywords {
            margin-top: 20px;
    
            .keyword-button {
                font-size: 2rem;
            }
        }
    }

    .header-buttons {
        display: flex;
        justify-content: center;

        margin-top: 75px;
    }

    .header-button {
        display: inline-block;
        width: 300px;
        height: 50px;
        padding: 18px 10px;
        margin: auto 50px;

        font-family: 'Quicksand';
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;

        border: none;
        border-radius: 5px;
        background-color: $orange;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        color: $light;
        text-decoration: none;

        cursor: pointer;
        outline: none;
    }

    @media all and (max-width:1100px) {

        .header-buttons {
            margin-top: 100px;
        }
    
        .header-button {
            width: 30%;
            height: 40px;
            line-height: 40px;
            padding: 0 5px;
            margin: 10px;
            font-size: 10px;
        }
        
    }

    @media all and (max-width: 600px) {

        .header-buttons {
            margin-top: 100px;
        }
    
        .header-button {
            width: 40%;
        }
        
    }

    @media all and (max-width: 420px) {

        .header-buttons {
            flex-wrap: wrap;
            margin-top: 20px;
        }
    
        .header-button {
            width: 60%;
            padding: 0 10px;
        }
        
    }

    /*
    * ─── FEATURE ────────────────────────────────────────────────────────────────────
    */


    .feature {
        position: absolute;
        left: 50%;
        bottom: -30%;
        width: 60%;
        height: calc(60vw/ 2);

        transform: translateX(-50%);

        background-color: $light;
        z-index: 1;
    }

    .feature-header {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;

        transform: translateY(-4rem);

        text-align: center;
        font-size: 3rem;
        color: $light;
    }

    #feature-left,
    #feature-right {
        cursor: pointer;
    }

    .feature-body {
        width: 100%;
        height: 100%;
        padding: 10px;
        overflow: hidden;
    }

    .feature-body img {
        width: 100%;
        height: 100%;
        transform: translateY(-20%);
    }

    .feature-body iframe {
        width: 100%;
        height: 100%;
    }

    @media all and (max-width: 1100px) {
        .feature {
            bottom: 0;
            width: 70% ;
            height: calc(70vw / 2) ;
    
            transform: translate(-50%, 50%);
        }
    
        .feature-header {
            font-size: 2rem;
            transform: translateY(-2.5rem);
        }
    
        .feature-body {
            padding: 7px;
        }
    
        .feature-body img {
            width: 100%;
            height: 100%;
            transform: translateY(-20%);
        }
    
        .feature-body iframe {
            width: 100%;
            height: 100%;
        }
    }

    @media all and (max-width: 600px) {
        .feature {
            width: 80% ;
            height: calc(80vw / 2) ;
        }
    
        .feature-header {
            font-size: 1.5rem;
            transform: translateY(-2rem);
        }
    }

    @media all and (max-width: 420px) {
        .feature {
            width: 90% ;
            height: calc(90vw / 2) ;
        }
    }

    /*
    * ──────────────────────────────────────────────────────────────────────────
    *   :::::: C O N T A I N E R : :  :   :    :     :        :          :
    * ──────────────────────────────────────────────────────────────────────────
    */



    .container {
        padding: 0 3rem;
        display: flex;
        color: $dark;
        padding-top: 15rem;
        margin-bottom: 100px;
    }

    @media all and (max-width:1100px) {
        .container {
            flex-wrap: wrap;
            padding: 0 .5rem;
            padding-top: 15rem;
        }
    }

    @media all and (max-width: 600px) {
        .container {
            flex-wrap: wrap;
            padding: 0 .5rem;
            padding-top: 15rem;
        }
    }

    @media all and (max-width: 420px) {
        .container {
            padding-top: 10rem;
        }
    }


    /*
    * ─── MAIN CONTENT ───────────────────────────────────────────────────────────────
    */


    .main-content {
        width: calc(95% - 450px);
    }

    .communication {
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: darken($light, 40%) 1px solid;
    }

    .communication-header,
    .formations-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.3rem;
    }

    .communication-header i,
    .formations-header i {
        font-size: 4rem;
        margin-right: 2rem;
        color: $blue;
    }

    .formations-header i {
        color: $orange;
    }


    .communication-header h2,
    .formations-header h2 {
        font-family: 'Montserrat';
        font-weight: 300;
    }

    .formations {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: darken($light, 40%) 1px solid;
    }

    .formations img {
        margin-left: 10%;
        width: 80%;
    }

    @media all and (max-width: 1100px) {
        .main-content {
            order: 2;
            width: 95%;
            margin-left: 2.5%;
            display: flex;
        }
    
        .communication-header i,
        .formations-header i {
            font-size: 2rem;
            margin-right: 1rem;
        }
    
        .communication-header h2,
        .formations-header h2 {
            font-size: 1.5rem;
        }
    
        .formations {
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 2rem;
            border-bottom: darken($light, 40%) 1px solid;
        }
    
        .formations img {
            margin-left: 10%;
            width: 80%;
        }
    }

    @media all and (max-width: 600px) {
        .main-content {
            display: block;
        }
    }


    /*
    * ─── SIDE CONTENT ───────────────────────────────────────────────────────────────
    */


    .side-content {
        width: 450px;
        margin-left: 50px;
        padding-left: 50px;
        border-left: darken($light, 40%) 1px solid;
    }

    @media all and (max-width: 1100px) {
        .side-content {
            order: 1;
            width: 95%;
            margin-left: 2.5%;
            padding-left: 0;
            border-left: none;
            display: flex;
            flex-wrap: wrap;
        }
    }

    @media all and (max-width: 600px) {
        .side-content {
            order: 1;
            width: 95%;
            margin-left: 2.5%;
            padding-left: 0;
            border-left: none;
            display: block;
        }
    }

    @media all and (max-width: 420px) {
        .side-content {
            order: 1;
            width: 95%;
            margin-left: 2.5%;
            padding-left: 0;
            border-left: none;
            display: block;
        }
    }

    .weather {
        position: relative;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        text-align: center;
        color: $dark;
        font-family: 'Nunito', sans-serif;
        font-size: 2rem;
        border-bottom: darken($light, 40%) 1px solid;
        overflow: hidden;
    }

    .weather-temp {
        font-size: 3rem;
    }

    .weather-icon {
        height: 5rem;
        position: relative;
    }

    .weather-icon i {
        position: absolute;
    }

    .weather-city {
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .weather-city i {
        font-size: 1.5rem;
        margin-left: 1rem;
        color: #da3a3a;
    }

    .weather-text {
        text-transform: capitalize;
    }


    /*
    * ────────────────────────────────────────────────────────────────────────────
    *   :::::: F O R M A T I O N S   T I L E S : :  :   :    :     :        :          :
    * ────────────────────────────────────────────────────────────────────────────
    */
    

    .formations-tile {
        width: 85%;
        margin: auto;
        // background-color: rgb(225, 230, 243);
        // border: 1px solid $blue;
        border-bottom: 3px solid rgb(117, 117, 117);
        // box-shadow: 0 0 10px rgba($dark, 0.8);

        
        .tile-head {
            height: 40%;
            background-color: $blue;
            box-shadow: 0 0 10px rgba($dark, 0.8);
            background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/OO7XQL3Q9C.jpg');
            clip-path: inset(1px 0 -10px 0);

            h1 {
                padding-top: 1rem;
                color: $light;
                font-weight: bold;
                text-align: center;
                margin: 0;
            }
        }

        .tile-body {
            display: flex;
            flex-wrap: wrap;

            .tile-info {
                width: 50%;
                padding-left: .5rem;
                font-size: 0.9rem;
                font-weight: bold;
                
                i {
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }

                a {text-decoration: none;}
            }
        }
    }

    @media all and (max-width: 1100px) {
        .calendar-widget {
            width: 40%;
            margin-left: 10%;
        }
    }

    @media all and (max-width: 600px) {
        .calendar-widget {
            width: 100%;
            margin-left: 0;
        }
    }

    @media all and (max-width: 420px) {
        .calendar-widget {
            width: 100%;
            margin-left: 0;
        }
    }

    .weather-icon #clouds-1 {
        left: 101%;
        font-size: 3rem;
        color: #505050;
        animation: cloudMoving linear 15s backwards reverse infinite;
        animation-delay: 1s;
    }

    .weather-icon #clouds-2 {
        position: absolute;
        left: 101%;
        font-size: 4rem;
        color: #808080;
        animation: cloudMoving linear 15s backwards infinite;
    }

    .weather-icon #thunder-1 {
        top: 85%;
        left: 45%;
        font-size: 3rem;
        color: #fffb0050;
        animation: thunder linear 2s backwards reverse infinite;
        transform: translate(-50%, -50%);
    }

    .weather-icon #thunder-2 {
        top: 75%;
        left: 55%;
        font-size: 3rem;
        color: #fffb0050;
        animation: thunder linear 3s backwards reverse infinite;
        animation-delay: 1s;
        transform: translate(-50%, -50%);
    }

    .weather-icon #thunder-3 {
        position: absolute;
        top: 45%;
        left: 50%;
        font-size: 3.5rem;
        color: #606060;
        transform: translate(-50%, -50%);
    }

    .weather-icon #rain-1 {
        top: 40%;
        left: 40%;
        font-size: 2rem;
        color: #00b7ff;
        animation: rain linear 2s backwards infinite;
        transform: translate(-50%, -50%);
    }

    .weather-icon #rain-2 {
        top: 40%;
        left: 50%;
        font-size: 2.5rem;
        color: #00b7ff;
        animation: rain linear 2.5s backwards infinite;
        transform: translate(-50%, -50%);
    }

    .weather-icon #rain-3 {
        position: absolute;
        top: 40%;
        left: 60%;
        font-size: 1.5rem;
        color: #00b7ff;
        animation: rain linear 3.1s backwards infinite;
        transform: translate(-50%, -50%);
    }

    .weather-icon #rain-4 {
        position: absolute;
        top: 45%;
        left: 50%;
        font-size: 5rem;
        color: #606060;
        transform: translate(-50%, -50%);
    }

    .weather-icon #clear {
        position: absolute;
        top: 45%;
        left: 50%;
        font-size: 4rem;
        color: #fffd91;
        animation: clear linear 2s backwards infinite;
        transform: translate(-50%, -50%);
    }

    .weather-icon #snow-1 {
        position: absolute;
        top: 0%;
        left: 50%;
        font-size: 3rem;
        color: #badbdb;
        animation: rain linear 3s backwards infinite;
        transform: translate(-50%, -50%);
    }

    .weather-icon #snow-2 {
        position: absolute;
        top: 0%;
        left: 40%;
        font-size: 2rem;
        color: #90f2ff;
        animation: rain linear 2s backwards infinite;
        transform: translate(-50%, -50%);
    }

    .weather-icon #snow-3 {
        position: absolute;
        top: 0%;
        left: 65%;
        font-size: 2.5rem;
        color: #76ecfc;
        animation: rain linear 2.5s backwards infinite;
        transform: translate(-50%, -50%);
    }

    .weather-icon #special {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2.5rem;
        color: #fc7676;
        transform: translate(-50%, -50%);
    }

    @media all and (max-width: 1100px) {
        .weather {
            width: 40%;
            margin-left: 5%;
            padding-bottom: 0;
            margin-bottom: 0;
            font-size: 2.5rem;
            border-bottom: none;
            overflow: hidden;
        }

        .weather-icon {
            height: 4rem;
        }

        .weather-city {
            font-size: 2rem;
        }

        .weather-city i {
            font-size: 1rem;
        }
        
        .weather-icon #clouds-1 {
            font-size: 3rem;
        }

        .weather-icon #clouds-2 {
            font-size: 4rem;
        }

        .weather-icon #thunder-1 {
            font-size: 4rem;
        }

        .weather-icon #thunder-2 {
            font-size: 4rem;
        }

        .weather-icon #thunder-3 {
            font-size: 3.5rem;
        }

        .weather-icon #rain-1 {
            font-size: 2rem;
        }

        .weather-icon #rain-2 {
            font-size: 2.5rem;
        }

        .weather-icon #rain-3 {
            font-size: 1.5rem;
        }

        .weather-icon #rain-4 {
            font-size: 5rem;
        }

        .weather-icon #clear {
            font-size: 4rem;
        }

        .weather-icon #snow-1 {
            font-size: 3rem;
        }

        .weather-icon #snow-2 {
            font-size: 2rem;
        }

        .weather-icon #snow-3 {
            font-size: 2.5rem;
        }

        .weather-icon #special {
            font-size: 2.5rem;
        }
    }

    @media all and (max-width: 600px) {
        .weather {
            width: 100%;
            margin-left: 0;
        }
        .weather-icon #clouds-1 {
            font-size: 1.5rem;
        }

        .weather-icon #clouds-2 {
            font-size: 2rem;
        }

        .weather-icon #thunder-1 {
            font-size: 2rem;
        }

        .weather-icon #thunder-2 {
            font-size: 2rem;
        }

        .weather-icon #thunder-3 {
            font-size: 1.75rem;
        }

        .weather-icon #rain-1 {
            font-size: 1rem;
        }

        .weather-icon #rain-2 {
            font-size: 1.25rem;
        }

        .weather-icon #rain-3 {
            font-size: 0.75rem;
        }

        .weather-icon #rain-4 {
            font-size: 2.5rem;
        }

        .weather-icon #clear {
            font-size: 2rem;
        }

        .weather-icon #snow-1 {
            font-size: 1.5rem;
        }

        .weather-icon #snow-2 {
            font-size: 1rem;
        }

        .weather-icon #snow-3 {
            font-size: 1.25rem;
        }

        .weather-icon #special {
            font-size: 1.25rem;
        }
    }

    

}

/*
 * ────────────────────────────────────────────────────────────────────
 *   :::::: K E Y F R A M E S : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────
 */

@keyframes cloudMoving {
    from {
        left: 101%;
    }

    to {
        left: -50%;
    }
}

@keyframes thunder {
    0% {
        color: #fffb001a;
    }

    50% {
        color: #fffb00FF;
    }

    50% {
        color: #fffb001a;
    }

    50% {
        color: #fffb00FF;
    }

    100% {
        color: #fffb00FF;
    }
}

@keyframes rain {
    to {
        opacity: 1;
        top: 100%;
    }
}

@keyframes clear {
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }
}