@import './variables.scss';

.admin-wrap {

   * {
       box-sizing: border-box;
   }

    .container {
        display: flex;
    }

    .navigation {
        position: fixed;
        width: 12%;
        padding: 20px;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        color: $light;
        background-color: lighten($dark, 5%); 

        overflow: auto;

        .navigation-group {
            border-bottom: 1px solid lighten($dark, 10%);

            a {
                display: inline-block;
                padding: 10px 0;
                color: darken($light, 40%);
                text-decoration: none;
            }
        }
    }

    .content {
        width: 88%;
        margin-left: 12%;
        padding: 0 50px 50px 50px;

        color: $dark;
        background-color: $light;

        table {
            width: 100%;
            margin-top: 5rem;
            border-spacing: 0px;
            th {
                text-align: left;
            }

            td {
                font-size: 1.1rem;
                height: 1.5rem;
                padding: 5px;
            }

            tr:nth-child(2n) {
                background-color: lighten($blue, 50%);
            }
        }

        form {
            width: 80%;
            margin: auto;

            button {
                display: block;
                height: 50px;
                width: 150px;
                margin: auto;
                margin-top: 2rem;

                font-family: 'Quicksand';
                font-size: 1.1rem;
                font-weight: bold;
                text-transform: uppercase;

                border: none;
                border-radius: 5px;
                background-color: $orange;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
                color: $light;

                cursor: pointer;
                outline: none;
            }

            .form-group {
                margin: 20px auto;
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                label {
                    margin: 10px auto;
                    width: 100%;
                    font-weight: bold;
                }

                input,
                select,
                #cke_article_ckeditor,
                #cke_fiche_ckeditor_1,
                #cke_fiche_ckeditor_2,
                #cke_fiche_ckeditor_3,
                #cke_fiche_ckeditor_4,
                #cke_faq_ckeditor {
                    border-radius: 5px;
                    border: none;
                    border: 1px solid rgba($dark, 0.3);
                    overflow: hidden;
                }

                input,
                select {
                    width: 100%;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    padding-left: 10px;
                    border-radius: 5px;
                    border: none;
                    border: 1px solid rgba($dark, 0.3);
                }
                
                input[type='file'] {
                    border: none;
                    line-height: 1rem;
                }

                #cke_article_ckeditor,
                #cke_fiche_ckeditor_1,
                #cke_fiche_ckeditor_2,
                #cke_fiche_ckeditor_3,
                #cke_fiche_ckeditor_4,
                #cke_faq_ckeditor {
                    width: 100%;
                }

                select[multiple] {
                    height: 150px;

                    option {
                        font-size: 1rem;
                        background-repeat: no-repeat;
                        background-position: center left;
                        background-size: 40px;
                    }
                }
            }

            .form-group.tags {

                input {
                    width: 80%;
                    line-height: 2.5rem;
                    height: 2.5rem;
                    margin-top: auto;
                }
                
                #addtag {
                    line-height: 2.5rem;
                    height: 2.5rem;
                    font-size: 0.8rem;
                }

            }

            .form-small-group {
                width: 100%;
                display: flex;
                justify-content: space-between;

                span {
                    width: 20%;
                }
            }
        }

        input, textarea, button, select {
            font-size: 1.1rem;
            font-family: 'Nunito', sans-serif;
        }
    }


    .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .validated-tags {
            width: 100%;
            margin-top: 10px;

            span {
                position: relative;
                padding: 3px;
                margin: 5px;
                padding-right: 30px;
                color: $light;
                background-color: $orange;
                border-radius: 5px;

                .fas {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0.8;
                }

                .fas:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
    }


}