@import './variables.scss';


.article-page{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: $dark;

    a {
        color: $dark;
    }
}

.article-main-content {
    width: 60%;
    padding: 50px;
}

.article-head {
    text-align: center
}

.article-main-title {
    width:80%;
    margin: auto;
    font-weight: 500;
}

.article-corp{
    text-align: justify;

    p {
        text-indent: 2rem;
    }
}

.article-main-picture{
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.article-main{
    text-align: justify;
    text-indent: 2rem;
}

.article-signature {
    text-align: right;
    font-style: italic;
}

.article-side-content{
    width: 30%;
    padding: 50px;
}

.article-side-content h2 {
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
}

.article-more {
    display: block;
    text-align: right;
}


#first-picture{
    float: left;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 15px;
}

#second-picture{
    float: right;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}