@import './_variables.scss';

/*CAROUSEL CSS*/

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel:focus {
    outline: none;
}

.carouselContainer {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carouselContainer::after {
    content: "";
    clear: both;
    display: table;
}

.carouselItem {
    float: left;
}

.carouselNext,
.carouselPrev {
    position: absolute;
    width: 48px;
    height: 48px;
    background: transparent url('../images/icons/right-big.svg') center center no-repeat;
    background-size: 25px 25px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    /* box-shadow: 0 0 12px #202020; */
    cursor: pointer;
    transition: transform 0.1s;
    filter: brightness(0);
}

.carouselNext:hover,
.carouselPrev:hover {
    transform: scale(1.1);
}

.carouselPrev {
    background: transparent url('../images/icons/left-big.svg') center center no-repeat;
    background-size: 25px 25px;
    right: auto;
    left: 0px;
    filter: brightness(0);
}

.carouselPrev-hidden,
.carouselNext-hidden {
    display: none;
}

.carouselPagination {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
}

.carouselPaginationButton {
    background-color: $orange;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    transition: transform 0.3s;
    cursor: pointer;
}

.carouselPaginationButton-active,
.carouselPaginationButton:hover {
    transform: scale(1.4)
}

@media screen and (min-width: 800px) {
    .carouselPagination {
        display: block;
    }
}