@import './variables.scss';
body {
    background-color: #e6e9f0;
}
form {
    padding-bottom: 5rem;
    width: 50%;
    margin: auto;
    
    h1 {
        margin: 3rem auto;
        text-align: center;
    }

    .form-group {
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        label {
            margin: 10px auto;
            width: 100%;
            font-weight: bold;
        }

        input, select, textarea {
            width: 100%;
            height: 2.5rem;
            line-height: 2.5rem;
            padding-left: 10px;
            border-radius: 5px;
            border: none;
            border: 1px solid rgba($blue, 0.3);
            outline: none;
        }

        select[multiple] {
            height: 150px;

            option {
                font-size: 1rem;
                background-repeat:no-repeat;
                background-position: center left;
                background-size: 40px;
            }
        }

        textarea {
            height: 200px;
        }

        .info {
            width: 100%;
            color: $dark;
        }
    }

    button {
        display: block;
        height: 50px;
        width: 150px;
        margin: auto;
        margin-top: 2rem;

        font-family: 'Quicksand';
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;

        border: none;
        border-radius: 5px;
        background-color: $orange;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        color: $light;

        cursor: pointer;
        outline: none;
    }
}


@media all and (max-width: 780px) {
    form {
        width: 90%;
    }
}