.dynamic-post-container {
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 5%;
}

.dynamic-post {
    position: static;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    /* border: 1px solid #FFFFFF; */
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.dynamic-post .post-content {
    position: relative;
    width: 60%;
    color: $dark;
    font-size: 1.1rem;
    font-weight: 300;
    z-index: 3;
    text-align: justify;
    align-self: flex-start;
    overflow: auto;
}

.dynamic-post .post-content h3 {
    margin-top: 0;
    display: inline-block;
    padding: 0 0px;
    text-align: left;
    height: 50px;
    line-height: 30px;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: bold;
}

.dynamic-post .post-thumb {
    z-index: 100;
    width: 40%;
}

.dynamic-post .post-thumb img {
    width: 90%;
    margin-left: 5%;
}

.dynamic-post.event {

    .post-content {
        padding-left: 20px;
        padding-right: 20px;
        order: 1;

        a {
            display: block;
            color: $dark;
            text-align: right;
        }
    }

    .post-thumb img {
        order: 2;
        clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 15% 100%, 0% 50%, 15% 0%);
    }
}

.dynamic-post.news {

    .post-content {
        padding-left: 20px;
        padding-right: 20px;
        order: 2;

        a {
            display: block;
            color: $dark;
            text-align: left;
        }
    }

    .post-thumb img {
        order: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }
}

@media all and (max-width: 768px) {
    .dynamic-post-container {
        margin-bottom: 50px;
        padding: 0 !important;
    }
    .dynamic-post .post-content {
        width: 100%;
        margin-bottom: 50px;
        order: 1;
        font-weight: 300;
        padding: 0 !important;
    }
    .dynamic-post .post-content h3 {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .dynamic-post .post-thumb {
        width: 70%;
        margin-left: 15%;
        order: 2;
    }
}