@import './variables.scss';

.question-page * {
    box-sizing: border-box;
}

.question-page {
    padding: 25px;

    display: flex;
    flex-wrap: wrap;
}

.question-main-content {
    width: 100%;
    padding: 50px;

    a {
        color: $orange;
    }

    .question-item {
        margin-top: 5rem;
        border-bottom: 1px solid lighten($dark, 40%);

        img {
            width: 100px;
        }

        h1 i {
            color: $orange;
        }

        h3 {
            text-align: right;
        }
    }

    .reponse-form {
        padding-bottom: 5rem;
        width: 60%;
    
        .form-group {
            margin: 20px auto;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
    
            input, select, textarea {
                margin: 5px;
                height: 2rem;
                line-height: 2rem;
                padding-left: 10px;
                border-radius: 5px;
                border: none;
                border: 1px solid rgba($blue, 0.3);
                outline: none;
            }

            input {
                width:40%;
            }
    
            textarea {
                width: calc(80% + 10px);
                height: 100px;
            }
    
            .info {
                width: 100%;
                color: $dark;
            }
        }
    
        button {
            display: block;
            height: 35px;
            width: 100px;
            margin: auto;
            margin-left: 10px;
            margin-top: 20px;
    
            font-family: 'Quicksand';
            font-size: 0.9rem;
            font-weight: bold;
            text-transform: uppercase;
    
            border: none;
            border-radius: 5px;
            background-color: $orange;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            color: $light;
    
            cursor: pointer;
            outline: none;
        }
    }

    .reponse-item {
        margin-left: 2rem;
        padding: 10px;
        border-bottom: 1px solid lighten($dark, 40%);

        p {
            margin: 0;
        }

        .vote {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                text-decoration: none;
            }
            i {
                margin: 5px 15px;
                font-size: 1.5rem;
            }

            i[data-thumb="up"],
            span[data-thumb="up"] {
                color: rgb(61, 182, 61);
            }

            i[data-thumb="down"],
            span[data-thumb="down"] {
                color: rgb(231, 79, 79);
            }
        }
    }

    .reponse-item[approved] {
        background-color: rgba(255, 144, 71, 0.3);
    }

}