@import './variables.scss';


.template-fiche {

    * {
        box-sizing: border-box;
    }

    padding-bottom: 10vh;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    font-family: 'Quicksand', sans-serif;
    color: $light;

    /*LIBELLE*/
    .fiche-head {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
        
        .title-1 {
            width: 100%;
            margin-top: 5rem;
            text-align: center;
            font-weight: 700;
            font-size: 28px;
            color: $light;

            .libelle-1,
            .libelle-2 {
                width: 100%;
            }
        }

        .structure {
            margin-top: 25px;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: rgba($light, 0.6);
            border-radius: 5px;
            box-shadow: 0 0 6px rgba($dark, 0.5);

            img {
                width: 120px;
            }
        }
    }

    /*ONGLET INFORMATIONS*/
    .informations {
        width: 45%;
        color: $light;
    }

    .informations-navigation {
        display: flex;
        justify-content: space-around;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;

        span {
            width: 30%;
            padding-left: 20px;
            color: $dark;
            box-sizing: border-box;
            background: $light;
            box-shadow: 0 0 12px rgba($dark, 0.3);
            transition: transform 50ms;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                transform: scale(1.02);
                box-shadow: 0 0 15px rgba($dark, 0.4);
                transition: transform 50ms;
            }

            .fas {
                margin-right: 20px;
                font-size: 1.2rem;
            }
        }
        span.is-active {
            background-color: $orange;
            color: $light;
        }
    }

    .informations div {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        padding: 20px 30px;

        display: none;

        background-color: rgba($dark, 0.3);
    }

    .informations div[visible] {
        display: block;
    }

    .informations div .picto {
        width: 50px;
        font-size: 2rem;
    }

    /*CONTENT*/
    .fiche-content {
        width: 40%;

        .fiche-accordion {
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
            text-align: center;

        
            .accordion-title-1 + .accordion-content {
                display: block;
            }

            .accordion-item {
                width: 100%;
                font-size: 1.2rem;
            }

            .accordion-title {
                margin: 0;
                line-height: 3rem;
                font-size: 1.5rem;
                cursor: pointer;
            }

            .accordion-content {
                display: none;
            }

        }
    }

    .accordion-title-1,
    .accordion-title-4 {
        background-color: rgba($orange, 0.8);
        color: $light;
    }

    .accordion-title-2,
    .accordion-title-5 {
        background-color: rgba($light, 0.8);
        color: $dark;
    }

    .accordion-title-3,
    .accordion-title-6 {
        background-color: rgba($blue, 0.8);
        color: $light;
    }

    #ficheMap {
        display: block;
        height: 300px;
        width: 100%;
    }
}




/*
 * ────────────────────────────────────────────────────────────  ──────────
 *   :::::: R E S P O N S I V E : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────
 */

@media all and (max-width: 1000px) {

    .template-fiche {
        
        .informations {
            /* margin-top: 10vh; */
            width: 100%;
            height: 60vh;
            color: $light;
        }

        .informations-navigation {
            font-size: 0.8rem;
        }

        .informations-navigation span {
            width: 30%;
        }

        .informations div {
            padding: 0 10px;
        }

        /*CONTENT*/
        .fiche-content {
            width: 100%;
            margin-bottom: 2rem;
        }

        .map-close {
            display: none;
        }

        .map-button {
            position: static;
            color: $orange;
            cursor: pointer;
            text-align: center;
            filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
            z-index: 1000;
        }
    }
}
