@import './variables.scss';

body {
    background-color: $light;
}

.innover-page {
    padding-bottom: 50px;
    
    * {
        box-sizing: border-box;
    }
    .header {
        display: flex;
        width: 100%;
        height: 350px;
        z-index: 1;
        background-size: cover;
        color: #ffffff;
        position: relative;
        overflow: hidden;
        
        .title {
            width: 65%;
            z-index: 1000;

            h1 {
                text-align: center;
                width: 20%;
                height: 60px;
                z-index: 10;
                margin-top: 6%;
                margin-left: 10%;
                color: #ffffff;
                background-color: rgb(50, 50, 50);
                box-shadow: $light 0px 0px 1px 2px;
                border-radius: 10px;
            }

            p {
                width: 70%;
                z-index: 10;
                font-size: 20px;
                padding: 20px 40px;
                color: #252525;
                background-color: #fff;
                text-align: justify;
                border-right: solid 5px $blue;
            }
        }
    }

    @media all and (max-width: 1100px) {
        .header {
        
            display: flex;
            height: 500px;
    
            .title {
                width: 100%;
                text-align: center;
    
                h1 {
                    width: 50%;
                    margin: 0;
                    margin-left:  25%;
                    margin-right:  25%;
                    margin-top: 50px;
                    line-height: 3.5rem;
                    height: 4rem;
                    font-size: 2rem;
                }
    
                p {
                    width: 90%;
                    font-size: 18px;
                    margin-left: 5%;
                    margin-top: 100px;
                    border-left: solid 5px $blue;
                }
            }
        }
    }
    
    /*
    * ──────────────────────────────────────────────────────────────────────────
    *   : : : : : : B A C K G R O U N D    S V G : : : : : : : :
    * ──────────────────────────────────────────────────────────────────────────
    */
    
    svg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(50, 50, 50);
    }
    .path {
        animation: draw 20s infinite;
        animation-timing-function: linear;
    }
    .path-01 {
        animation-delay: 0s;
    }
    .path-02 {
        animation-delay: 1s;
    }
    .path-03 {
        animation-delay: 2s;
    }
    .path-04 {
        animation-delay: 3s;
    }
    .path-05 {
        animation-delay: 4s;
    }
     
     
     
    @keyframes draw {
        to {
            stroke-dashoffset: 0;
            stroke-opacity: 1;
        }
    }
}
