@import './variables.scss';


.decouvrir-page {
    .header {
        display: flex;
        width: 100%;
        height: 350px;
        z-index: 1;
        background-size: cover;
        color: #ffffff;
        position: relative;
        overflow: hidden;
        .title {
            width: 65%;
            z-index: 1000;

            h1 {
                text-align: center;
                width: 20%;
                height: 60px;
                z-index: 10;
                margin-top: 6%;
                margin-left: 10%;
                color: #ffffff;
                background-color: rgb(50, 50, 50);
                box-shadow: $light 0px 0px 1px 2px;
                border-radius: 10px;
            }

            p {
                width: 70%;
                z-index: 10;
                font-size: 20px;
                padding: 20px 40px;
                color: #252525;
                background-color: #fff;
                text-align: justify;
                border-right: solid 5px $blue;
            }
        }
    }

    .calendar-container {
        position: sticky;
        top: 200px;
        margin-left: 68%;
        width: 400px;
        height: 200px;
        transform: translateY(calc(-50%));
        perspective: 1000px;
        z-index: 100;

        .card {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transition: transform 1s ease;
            cursor: pointer;
        }
        
        .back,
        .front {
            border-radius: 6px;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
        
        .contentfront {
            width: 100%;
            height: 100%;
            float: left;
            transform: translatez(60px);
            backface-visibility: hidden;
            transform-style: preserve-3d;
        
        }
        
        .contentback {
            width: 100%;
            height: 100%;
            float: left;
            transform: translatez(-60px);
            backface-visibility: hidden;
            transform-style: preserve-3d;
        
        }
        
        .back {
            transform: rotateY(180deg);
            background-color: #232227;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        
        .front {
            text-transform: uppercase;
            background-color: #232227;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        
        .date {
            height: 100%;
            width: 130px;
            float: left;
            background-color: $orange;
            border-radius: 0 6px 6px 0;
            text-align: right;
            padding: 10px 30px;
            box-sizing: border-box;
            transform-style: preserve-3d;
        }
        
        .datecont {
            height: 100%;
            transform: translatez(60px) scale(.9);
        }
        
        #date {
            font-size: 50px;
            color: #ECECE7;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            float: right;
        }
        
        #day {
            float: right;
            font-size: 14px;
            color: #232227;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
        }
        
        #month {
            float: right;
            font-size: 10px;
            color: #232227;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
        }
        
        .date i {
            color: #ECECE7;
            position: absolute;
            bottom: 10px;
            right: 0;
        }
        
        .date i:hover {
            color: #232227;
            transition: .3s ease;
        }
        
        .month {
            height: 100%;
            width: 270px;
            float: left;
            padding: 20px 30px;
            box-sizing: border-box;
        }
        
        .month table {
            width: 100%;
        }
        
        .orangeTr {
            color: $orange;
        }
        
        .whiteTr {
            color: #ECECE7;
        
        }
        
        .whiteTr th:hover {
            color: $orange;
            transition: .3s ease;
        }
        
        .month tr {
            height: 24px;
        }
        
        .month th {
            width: 14%;
            font-size: 10px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
        }
        
        .flipped {
            transform: rotateY(-180deg);
            /*height:400px;
          width:200px;
          left:calc(50% - 100px);
          top:calc(50vh - 200px);*/
        }
        
        .backcontainer {
            color: $light;
            font-weight: bold;
            font-size: 1.5rem;
            backface-visibility: hidden;
            transform-style: preserve-3d;
            width: calc(100% - 60px);
            height: calc(100% - 40px);
            float: left;
            margin-left: 30px;
            margin-top: 20px;
            // border-left:solid red 5px;
            // background-color:red;
            transform: translatez(-60px) scale();
        }
    }

    .body {
        
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        margin-top: -200px;
        background-color: #ffffff;
        border-top: solid 2px #DBE2E8;

        
        .decouvrir-article{
            margin-top: 2%;
            width: 60%;
            margin-left: 2%;

            h1 {
                border-bottom: solid 5px $blue;
                width: 32%;
            }

            p {
                text-align: justify;
            }

            .decouvrir-article-text {
                margin-left: 30%;
                margin-top: -25%;
            }

            img {
                width: 25%;
            }

        }


    }





    /*
    * ──────────────────────────────────────────────────────────────────────────
    *   :::::: D Y N A M I C   P O S T : :  :   :    :     :        :          :
    * ──────────────────────────────────────────────────────────────────────────
    */


    .dynamic-post-container {
        width: 60%;
        position: relative;
        display: flex;
        align-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .dynamic-post {
        position: static;
        margin: auto;
        width: 90%;
        display: flex;
        align-items: center;
        align-content: center;
        /* border: 1px solid #FFFFFF; */
        overflow: hidden;
        /* background-color: rgba(0, 0, 0, 0.4); */
    }

    .dynamic-post .post-content {
        position: relative;
        width: 60%;
        color: $dark;
        font-size: 1.1rem;
        font-weight: bold;
        z-index: 3;
        text-align: justify;
        align-self: flex-start;
        overflow: auto;
    }

    .dynamic-post .post-content h2 {
        margin-top: 0;
        display: inline-block;
        padding: 0 20px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-family: 'Montserrat';
        font-weight: 400;
    }

    .dynamic-post .post-thumb {
        z-index: 100;
        width: 40%;
    }

    .dynamic-post .post-thumb img {
        width: 90%;
        margin-left: 5%;
    }

    .dynamic-post.event {

        .post-content {
            padding-left: 20px;
            padding-right: 20px;
            order: 1;

            a {
                display: block;
                color: $dark;
                text-align: right;
            }
        }
    
        .post-thumb img {
            order: 2;
            clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 15% 100%, 0% 50%, 15% 0%);
        }
    }

    .dynamic-post.news {

        .post-content {
            padding-left: 20px;
            padding-right: 20px;
            order: 2;
            
            a {
                display: block;
                color: $dark;
                text-align: left;
            }
        }
        
        .post-thumb img {
            order: 1;
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        }
    }
}
    
    /*
    * ──────────────────────────────────────────────────────────────────────────
    *   : : : : : : B A C K G R O U N D    S V G : : : : : : : :
    * ──────────────────────────────────────────────────────────────────────────
    */
    
     svg {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
    //    transform: translate(-50%, -50%);
       background-color: rgb(50, 50, 50);
     }
     .path {
       animation: draw 20s infinite;
       animation-timing-function: linear;
     }
     .path-01 {
       animation-delay: 0s;
     }
     .path-02 {
       animation-delay: 1s;
     }
     .path-03 {
       animation-delay: 2s;
     }
     .path-04 {
       animation-delay: 3s;
     }
     .path-05 {
       animation-delay: 4s;
     }
     
     
     
     @keyframes draw {
       0% {
       }
       100% {
         stroke-dashoffset: 0;
         stroke-opacity: 1;
       }
     }

