@import './variables.scss';

body{
    background-color: $light;
}

.title-1 {
    margin: 100px auto;
    text-align: center;
}

.banner-container {
    position: relative;
    overflow: hidden;
}
.banniere{
    width: 100%;
}
.title-top, .title-bot {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: $light;
}
.title-top{
    top: 0;
    transform: translateX(-20%);
}
.title-bot{
    bottom: 10px;
    transform: translateX(22%);
}
.article{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    hr{
        width: 80%;
    }
    h1{
        width: 100%;
    }
    p{
        width: 70%;
        font-size: 1.5rem;
        text-align: justify;
    }
    i {
        text-align: center;
        width: 20%;
        font-size: 5rem;
    }
}

.article-v1  {
    h1 {
        text-align: center;
    }
    p {
        order: 1;
        border-right: 3px solid $blue;
        padding-right: 15px;
    }
    i {
        order:2;
    color: $blue;
    }
}

.article-v2  {
    h1 {
        text-align: center;
    }
    p {
        order:2;
        border-left: 3px solid $orange;
        padding-left: 15px;
    }
    i {
        order: 1;
    color: $orange;
    }
}



    /*
        * ─────────────────────────────────────────────────────────────────────────────
        *   :   :   :   :   :   :   R E S P O N S I V E   :   :   :   :   :   :   :   :
        * ─────────────────────────────────────────────────────────────────────────────
    */

@media only screen and (max-width: 768px){
    body {
        
        overflow-X: hidden;
    }
    .title{
        font-size: 3rem;
        padding-bottom: 5%;
        width: 100%;
        text-align: center;
    }

    .banner-container {
        width: 180%;
        margin-left: -40%;
        position: relative;
        object-fit: cover;

        .title-top{
            top: 5px;
            transform: translateX(-17%);
        }
        .title-bot{
            bottom: 12px;
            transform: translateX(18%);
        }
    }

    .article{
        padding: 15px;
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        h1{
            width: 100%;
        }
        p{
            padding: 0;
            width: 100%;
            font-size: 1rem;
            text-align: justify;
        }
        i {
            text-align: center;
            width: 100%;
            font-size: 2.5rem;
        }
    }
    
    .article-v1  {
        h1 {
            text-align: center;
        }
        p {
            order: 1;
            border-right: none;
            padding: 0;
            font-size: 1rem;
        }
        i {
            order:1;
            color: $blue;
        }
    }
    
    .article-v2  {
        h1 {
            text-align: center;
        }
        p {
            order:1;
            border-left: none;
            padding: 0;
            font-size: 1rem;
        }
        i {
            order: 1;
            color: $orange;
        }
    }
}

@media only screen and (max-width: 425px){
    .title{
        font-size: 3rem;
        text-align: center;
    }  

    .banner-container {
        position: relative;
        h1{
            overflow: hidden;
        }
    }
    
    .article{
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        h1{
            width: 100%;
        }
        p{
            width: 100%;
            font-size: 1rem;
            text-align: justify;
            padding: 0;
        }
        i {
            text-align: center;
            width: 100%;
            font-size: 2rem;
        }
    }
    
    .article-v1  {
        h1 {
            text-align: center;
        }
        p {
            order:1;
            border-left: none;
            padding-left: 15px;
            font-size: 1rem;
            padding: 0;
        }
        i {
            order:1;
        color: $blue;
        }
    }
    
    .article-v2  {
        h1 {
            text-align: center;
        }
        p {
            order:1;
            border-left: none;
            padding: 0;
            font-size: 1rem;
        }
        i {
            order: 1;
        color: $orange;
        }
    }
}