@import './variables.scss';

.partenaires-page {
    background-color: #e6e9f0;
    padding: 25px;
    color: lighten($color: $dark, $amount: 15%);

    .partenaires-videos {
        display: flex;
        justify-content: space-around;

        .video {
            width: 25%;
            
            iframe {
                width: 100%;
                height: 200px !important;
                object-fit: cover;
            }
        }
    }

    @media all and (max-width: 1000px) {
        .partenaires-videos {
            flex-wrap: wrap;
    
            .video {
                width: 100%;

                iframe {
                    height: 315px !important;
                }
            }
        }
    }
    
    * {
        box-sizing: border-box;
    }
    
    .page-title, .page-subtitle {
        text-align: center;
    }

    .page-intro {
        width: 70%;
        margin: auto;
        text-align: center;
        font-style: italic;
    }

    .page-subtitle {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .page-subtitle::before {
        content: '';
        position: relative;
        width: 20%;
        margin-left: 40%;
        display: block;
        height: 5px;
        background-color: $orange;
        bottom: 20px;
        border-radius: 10px;
    }

    .cards-container.fondateurs {
        display: flex;

        .card {
            margin: 10px;
            padding: 25px;
            width: 25%;
            background-color: $light;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 0 8px rgba($dark, 0.1);

            .thumb {
                height: 40%;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .body {
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .card-title {
                    text-align: center;
                }

                .fondateurs-info {
                    padding: 5px;

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .cards-container.signataires {
        display: flex;
        flex-wrap: wrap;
        a {
            margin: 10px;
            padding: 30px;
            display: inline-block;
            width: calc(20vw - 40px);
            background-color: $light;
            box-shadow: 0 0 8px rgba($dark, 0.1);

            img {
                width: 100%;
            }
        }
    }

    .cards-container.partenaires {
        display: flex;
        flex-wrap: wrap;
        a {
            margin: 5px;
            padding: 20px;
            display: inline-block;
            width: 15vw;
            background-color: $light;
            box-shadow: 0 0 8px rgba($dark, 0.1);

            img {
                width: 100%;
            }
        }
    }
}