@import './variables.scss';
@import './navigation.no-transparent.scss';
@import './carousel.scss';
@import './keyword-section.scss';
@import './dynamic-post.scss';
@import './calendar.scss';



/*
    * ──────────────────────────────────────────────────────────────────────────
    *   :::::: N O R M A L   M O D  : :  :   :    :     :        :          :
    * ──────────────────────────────────────────────────────────────────────────
*/

.utiliser-page.white, .utiliser-page {
    padding-bottom: 50px;

    * {
        box-sizing: border-box;
    }

    .header {
        display: flex;
        width: 100%;
        height: 350px;
        z-index: 1;
        background-size: cover;
        color: $dark;
        background-color: #cfcfcf;
        position: relative;
        overflow: hidden;
        .title {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            z-index: 1000;

            h1 {
                text-align: left;
                width: 100%;
                height: 60px;
                z-index: 10;
                margin-top: 6%;
                margin-left: 10%;
                color:  $blue;
                font-family: 'Monoton'
            }

            .text-title {
                width: 50%;
                z-index: 10;
                font-size: 20px;
                padding: 20px 40px;
                color: #ffffff;
                background-color: $dark;
                text-align: justify;
                border-right: solid 5px $orange;
            }
            .light{
                display: flex;
                width: 100px;
                position: absolute;
                top: 60px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .phone-container {
                width: 20%;
                transform: translateY(-50%);
                display: flex;
                .phone{
                    width: 100px;
                    cursor: pointer;
                }
                .click {
                    font-size: 1em;
                    text-decoration: none;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    transition: all 0.5s;
                    transform: translateY(30%);
                }
            } 
        }
    }

    @media all and (max-width: 768px) {
        .header {
            height: 500px;
            .title {
    
                h1 {
                    text-align: center;
                    margin: 0;
                    margin-top: 75px;
                    margin-bottom: -50px;
                    font-size: 1.5rem;
                }
    
                .text-title {
                    width: 90%;
                    margin-left: 5%;
                    font-size: 18px;
                    border-left: solid 5px $orange;
                    padding: 10px 20px;
                }
                .light{
                    width: 60px;
                    top: 45px;
                }
                .phone-container {
                    text-align: center;
                    width: 50%;
                    margin-left: 25%;
                    transform: translateY(0);
                } 
            }
        }
    }
}

body{
 color: #fbcffb, 
        #ec73ec
        #d646d6, 
        #d13cd1, 
        #cd31cd, 
        #c827c8,
        #f376f3
}    

/*
    * ──────────────────────────────────────────────────────────────────────────
    *   :::::: B L A C K   M O D  : :  :   :    :     :        :          :
    * ──────────────────────────────────────────────────────────────────────────
*/

.utiliser-page.black {
    background-color: $dark;
    .header {
        color: $light;
        background-color: $dark;
        .title {            
            h1 {
                color: $light;
                -webkit-animation: title 1.5s ease-in-out infinite alternate;
                -moz-animation: title 1.5s ease-in-out infinite alternate;
                animation: title 1.5s ease-in-out infinite alternate;
            }

            .text-title {
                color: $dark;
                background-color: $light;
                border-right: solid 5px $blue;       
            }
            .phone-container {

                .click {
                    color: $light;
                    transform: translateY(50%);
                }
            } 
        }
    }
    p, h1, h2, a, h3 {
        color: $light;
    }
    .custom-header {
        background: $blue;
        border-top: 5px solid $blue;
    }
    .custom-content-reveal {
        background: $dark;
    }
    .custom-content-reveal span.custom-content-close {
        background: $blue;
    }
    .custom-content-reveal h4 {
        border-top: 5px solid $blue;
    }
    .custom-content-reveal span {	color: $light;}
    .custom-content-reveal a {	color: $blue;}
    .custom-content-reveal a:hover {	color: $orange;}
    .fc-calendar-container {
        background: lighten($dark, 10);
        color: $light;
    }
    .fc-calendar .fc-head {
        color: $light;
    }
    .fc-calendar .fc-row > div {
        background: lighten($dark, 20);
        color: $light;
    }
    .fc-calendar .fc-row > div > span.fc-date {
        color: $light;
    }
    .fc-calendar .fc-row > div.fc-today {
        background: $blue;
        box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
    }
}

/*
    * ──────────────────────────────────────────────────────────────────────────
    *   :::::: N E O N  : :  :   :    :     :        :          :
    * ──────────────────────────────────────────────────────────────────────────
*/

    @-webkit-keyframes title {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0189be, 0 0 70px #0189be, 0 0 80px #0189be, 0 0 100px #0189be, 0 0 150px #0189be;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0189be, 0 0 35px #0189be, 0 0 40px #0189be, 0 0 50px #0189be, 0 0 75px #0189be;
      }
    }
  
  
    @-moz-keyframes title {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0189be, 0 0 70px #0189be, 0 0 80px #0189be, 0 0 100px #0189be, 0 0 150px #0189be;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0189be, 0 0 35px #0189be, 0 0 40px #0189be, 0 0 50px #0189be, 0 0 75px #0189be;
      }
    }
  
  
  
    @keyframes title {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0189be, 0 0 70px #0189be, 0 0 80px #0189be, 0 0 100px #0189be, 0 0 150px #0189be;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0189be, 0 0 35px #0189be, 0 0 40px #0189be, 0 0 50px #0189be, 0 0 75px #0189be;
      }
    }